header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0,0,0,0.05)
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 120px;
  background-color: rgba(255, 255, 255, 0.99);
}
.header__logo {
  margin:0;
  /* line-height: 5px; */
  padding: 0;
  font-size: 16px;
}
.header__logo span {
  /* color: rgb(53, 239, 177); */
  color: #3340FF;
}
.header__nav__list {
  display: flex;
  list-style: none;
  gap: 66px;
  font-size: 14px;
}

.header__contact {
  /* background: rgb(53, 239, 177); */
  background: #3340FF;
  font-size: 14px;
  padding: 5px 16px;
  font-weight: 400;
  color: #ffff;
}
